body{
  width: 90%;
}

h1{
  text-align: center;
}

.textArea{
  width: 100%;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

textarea::placeholder{
  color: blue;
}


button{
  background-color: green;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: larger;
  border-radius: 5px;
}


.darkmode {
  background-color: #352F44;
  color: rgb(250, 240, 230);
}

.darkmode .textArea {
  background-color: rgb(185, 180, 199);
  color: rgb(250, 240, 230);
  border-radius: 5px;
  border: none;

}

.darkmode .textArea::placeholder{
  color: rgb(250, 240, 230);
}

.darkmode button {
  background-color: rgb(92, 84, 112) ;
  color:  rgb(250, 240, 230);
}
